body {
	margin: 20px;	
	background-color: lightgreen;
}
h1 {
	text-align: center;
	font-family: "Arial";
}
div.home {
	margin: auto;
	width: 50%;
	border: 5px solid black;
	padding: 20px;
	text-align: center;
	font-family: "Arial";
	background-color: #cff6fc;
	font-size: 25px;
}
div.startButton {
	display: block;
	text-align: center;
	font-family: "Arial";
	font-size: 20px;
	color: #000000;
}
div.startButton a {
	text-decoration: none;
}
div.startButton a:hover {
	background-color: #EEAA7B;
	padding: 14px;
}
div.startButton a:visited {
	text-decoration: none;
	color: #000000;
}
p.about {
	font-family: "Arial";
	font-size: 25px;
}
h2.pageHeaders {
	font-family: "Arial";
	color: #07889B;
}
ul.GroupMembers {
	font-family: "Arial";
}
ul.contact {
	font-family: "Arial";
}
ul.contact li a {
	color: blue;
}
div.question {
	background-color: lightblue;
	width: 400px;
	border: 5px solid black;
	padding: 30px;
	position: relative;
	-webkit-animation-name: questAnimation;
    -webkit-animation-duration: 2s; 
  	animation-name: questAnimation;
  	animation-duration: 2s;
  	animation-fill-mode: forwards;
  	animation-timing-function: linear;
}



p.question5Num {
	font-size: 24px;
}
p.question6Num {
	font-size: 18px;
	display: inline;
}
p.question6Num a {
	font-size: 18px;
	text-decoration: none;
	color: #000000;
}
p.question6Num a:visited {
	color: #000000;
}



p.question {
	font-family: "Arial";
	font-size: 20px;
}
ol.question {
	list-style-type: upper-alpha;
	margin: 0;
	padding: 0;
	font-family: "Arial";
}
ol.question li a {
	display: block;
	border: 1px solid black;

	width: 300px;
	padding: 20px;
	background-color: #dddddd;
	text-decoration: none;
	color:inherit;
}
ol.question li a:hover {
	background-color: #66B9BF;
}
ol.question li a:visited {
	color: #000000;
}
ul.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-family: "Arial";
	overflow: hidden;
	background-color: #07889B;
	color: #FFFFFF;
	-webkit-animation-name: navAnimation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  	animation-name: navAnimation;
  	animation-duration: 4s;
  	animation-iteration-count: infinite;
}
ul.navigation li {
	display: block;
	float: left;
	color: #FFFFFF;
	
}

ul.navigation li a {
	display: block;
	padding: 14px 16px;
	text-decoration: none;
	color: #FFFFFF;
	
}
ul.navigation li a:hover {
	background-color: #EEAA7B;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes navAnimation {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}

/* Standard syntax */
@keyframes navAnimation {
  0%   {background-color: red;}
  25%  {background-color: yellow;}
  50%  {background-color: blue;}
  100% {background-color: green;}
}
@-webkit-keyframes questAnimation {
  from {left: 0px;transform: rotate(0deg);}
  to {left: 250px;transform: rotate(360deg);}
}

/* Standard syntax */
@keyframes questAnimation {
  	
  from {left: 0px;transform: rotate(0deg);}
  to {left: 250px;transform: rotate(360deg);}
}